<!DOCTYPE html>
<head>

  <style>
    #map {
	     height: 400px;
	      width: 100%;
    }
  </style>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Item List</title>


  <!--STYLESHEET-->
  <!--=================================================-->
  <!--Open Sans Font [ OPTIONAL ]-->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

  <!--Bootstrap Stylesheet [ REQUIRED ]-->
  <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">

  <!--Nifty Stylesheet [ REQUIRED ]-->
  <link href="/assets/stylesheets/nifty.min.css" rel="stylesheet">

  <!--Nifty Premium Icon [ DEMONSTRATION ]-->
  <link href="/assets/stylesheets/demo/nifty-demo-icons.min.css" rel="stylesheet">

</head>

<body>
	<div id="container" class="effect aside-float aside-bright mainnav-lg">

		<!--NAVBAR-->
		<!--NAVBAR-->
		<!--===================================================-->
		<!-- header -->
    <%= render "main/includes/navbar" %>
		<!--===================================================-->
		<!--END NAVBAR-->
		<!--===================================================-->

		<div class="boxed">

			<!--CONTENT CONTAINER-->
			<!--===================================================-->
			<div id="content-container">
				<div id="page-head">

					<!--Page Title-->
					<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
					<div id="page-title">
						<h1 class="page-header text-overflow">Detail View</h1>
					</div>
					<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
					<!--End page title-->

				</div>
				<div id="page-content">
              <!--Page content-->
              <!--===================================================-->
              <div id="page-content">

					    <div class="panel blog blog-details">
					        <div class="panel-body">
					            <div class="blog-title media-block">
					                <div class="media-body">
					                    <a href="#" class="btn-link">
					                        <h1><%= @item.title %></h1>
					                    </a>
					                    <p>PRICE: <%= @item.price %></p>
					                </div>
					            </div>
					            <div class="blog-header">
					                <%= image_tag @item.image.url ,style: 'width: 700px; height: 400px;' unless @item.image.url.nil? %>
					            </div>
					            <div class="blog-content">

					                <div class="blog-body">
					                    <p><%= @item.body %>
					                    <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek,</p>
					                    <p>Two driven jocks help fax my big quiz. Quick, Baz, get my woven flax jodhpurs! "Now fax quiz Jack!" my brave ghost pled. Five quacking zephyrs jolt my wax bed. Flummoxed by job, kvetching W. zaps Iraq. Cozy sphinx waves quart jug of bad milk. A very bad quack might jinx zippy fowls. Few quips galvanized the mock jury box. Quick brown dogs jump over the lazy fox. The jay, pig, fox, zebra, and my wolves quack! Blowzy red vixens fight for a quick jump. Joaquin Phoenix was gazed by MTV for luck. A wizard’s job is to vex chumps quickly in fog. Watch "Jeopardy!", Alex Trebek's fun TV quiz game. Woven silk pyjamas exchanged for blue quartz. Brawny gods just</p>
					                    <p>Brick quiz whangs jumpy veldt fox. Bright vixens jump; dozy fowl quack. Quick wafting zephyrs vex bold Jim. Quick zephyrs blow, vexing daft Jim. Sex-charged fop blew my junk TV quiz. How quickly daft jumping zebras vex.</p>

					                </div>
					            </div>
					            <div class="blog-footer">
					                <div class="media-left">
					                    <span class="label label-success">5 Days ago</span>
					                    <small>Posted by : <a href="#" class="btn-link">Admin</a></small>
					                </div>
					                <div class="media-body text-right">
					                    <span class="mar-rgt"><i class="demo-pli-heart-2 icon-fw"></i>519</span>
					                    <i class="demo-pli-speech-bubble-5 icon-fw"></i>23
					                </div>
					            </div>


					            <!-- Comment form -->
					            <!--===================================================-->
					            <hr class="new-section-sm bord-no">
					            <p class="text-lg text-main text-bold text-uppercase">Leave a comment</p>
					            <form role="form">
					                <div class="row">
					                    <div class="col-md-4">
					                        <div class="form-group">
					                            <input type="text" class="form-control" placeholder="Your name">
					                        </div>
					                        <div class="form-group">
					                            <input type="email" class="form-control" placeholder="Your email address">
					                        </div>
					                        <div class="form-group">
					                            <input type="url" class="form-control" placeholder="Your website">
					                        </div>
					                        <div class="form-group">
					                            <button type="submit" class="btn btn-success btn-block">Submit comment</button>
					                        </div>
					                    </div>
					                    <div class="col-md-8">
					                        <div class="form-group">
					                            <textarea class="form-control" rows="9" placeholder="Your comment"></textarea>
					                        </div>
					                    </div>
					                </div>
					            </form>
					            <!--===================================================-->
					            <!-- End Comment form -->




					            <hr class="new-section-sm">
					            <p class="text-lg text-main text-bold text-uppercase pad-btm">Comments</p>



					            <!-- Comments -->
					            <!--===================================================-->
					            <div class="comments media-block">
					                <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="img/profile-photos/2.png"></a>
					                <div class="media-body">
					                    <div class="comment-header">
					                        <a href="#" class="media-heading box-inline text-main text-bold">John Doe</a>
					                        <p class="text-muted text-sm">Today 10:41AM - 12/09/2017</p>
					                    </div>
					                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
					                    <a class="btn btn-sm btn-default"><i class="icon-lg demo-pli-like"></i> Like </a>
					                    <a class="btn btn-sm btn-default"><i class="icon-lg demo-pli-right-4"></i> Reply</a>
					                </div>
					            </div>
					            <!--===================================================-->
					            <!-- End Comments -->



					            <!-- Comments -->
					            <!--===================================================-->
					            <div class="comments media-block">
					                <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="img/profile-photos/5.png"></a>
					                <div class="media-body">
					                    <div class="comment-header">
					                        <a href="#" class="media-heading box-inline text-main text-bold">Donald Brown</a>
					                        <p class="text-muted text-sm">Today 08:25AM - 12/009/2017</p>
					                    </div>
					                    <p>Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus.</p>
					                    <a class="btn btn-sm btn-primary"><i class="icon-lg demo-pli-like"></i> 5 Liked </a>
					                    <a class="btn btn-sm btn-default"><i class="icon-lg demo-pli-right-4"></i> Reply</a>
					                </div>
					            </div>
					            <!--===================================================-->
					            <!-- End Comments -->



					            <!-- Comments -->
					            <!--===================================================-->
					            <div class="comments media-block">
					                <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="img/profile-photos/10.png"></a>
					                <div class="media-body">
					                    <div class="comment-header">
					                        <div><a href="#" class="media-heading box-inline text-main text-bold">Lisa D</a></div>
					                        <p class="text-muted text-sm">Today 06:25AM - 12/09/2017</p>
					                    </div>
					                    <p>Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate.</p>
					                    <a class="btn btn-sm btn-default"><i class="icon-lg demo-pli-like"></i> Like </a>
					                    <a class="btn btn-sm btn-default"><i class="icon-lg demo-pli-right-4"></i> 3 Reply</a>

					                    <!-- Comments -->
					                    <div class="comment-body">
					                        <div class="comment-content media">
					                            <a class="media-left" href="#"><img class="img-circle img-xs" alt="Profile Picture" src="img/profile-photos/5.png"></a>
					                            <div class="media-body">
					                                <div class="comment-header">
					                                    <a href="#" class="text-main text-bold">Bobby Marz</a>
					                                    <small class="text-muted">7 min ago</small>
					                                </div>
					                                Sed diam nonummy nibh euismod.
					                            </div>
					                        </div>

					                        <div class="comment-content media">
					                            <a class="media-left" href="#"><img class="img-circle img-xs" alt="Profile Picture" src="img/profile-photos/7.png"></a>
					                            <div class="media-body">
					                                <div class="comment-header">
					                                    <a href="#" class="text-main text-bold">Lucy Moon</a>
					                                    <small class="text-muted">2 Hours ago</small>
					                                </div>
					                                Duis autem vel eum iriure dolor in vulputate ?
					                            </div>
					                        </div>

					                        <div class="comment-content media">
					                            <a class="media-left" href="#"><img class="img-circle img-xs" alt="Profile Picture" src="img/profile-photos/4.png"></a>
					                            <div class="media-body">
					                                <div class="comment-header">
					                                    <a href="#" class="text-main text-bold">Jacky Lore</a>
					                                    <small class="text-muted">1 Days ago</small>
					                                </div>
					                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
					                            </div>
					                        </div>
					                    </div>
					                </div>
					            </div>
					            <!--===================================================-->
					            <!-- End Comments -->



					            <!-- Comments -->
					            <!--===================================================-->
					            <div class="comments media-block">
					                <a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="img/profile-photos/8.png"></a>
					                <div class="media-body">
					                    <div class="comment-header">
					                        <a href="#" class="media-heading box-inline text-main text-bold">Kathryn Obrien</a>
					                        <p class="text-muted text-sm">Today 05:17AM - 12/09/2017</p>
					                    </div>
					                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt </p>
					                    <a class="btn btn-sm btn-default"><i class="icon-lg demo-pli-like"></i> Like </a>
					                    <a class="btn btn-sm btn-default"><i class="icon-lg demo-pli-right-4"></i> Reply</a>
					                </div>
					            </div>
					            <!--===================================================-->
					            <!-- End Comments -->

					        </div>
					    </div>


            </div>
            <!--===================================================-->
            <!--End page content-->

          </div>

          <!--MAIN NAVIGATION-->
          <!--===================================================-->
          <%= render "main/includes/mainnav" %>
          <!--===================================================-->
          <!--END MAIN NAVIGATION-->

          <!--===================================================-->
          <!--END CONTENT CONTAINER-->

          <!-- FOOTER -->
          <%= render "main/includes/footer" %>

          <!-- SCROLL PAGE BUTTON -->
          <!--===================================================-->
          <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
          </button>
          <!--===================================================-->
        </div>
        <!--===================================================-->
        <!-- END OF CONTAINER -->

        <!--JAVASCRIPT-->
        <!--=================================================-->
        <!--jQuery [ REQUIRED ]-->
        <script src="/assets/javascripts/jquery.min.js"></script>


        <!--BootstrapJS [ RECOMMENDED ]-->
        <script src="/assets/javascripts/bootstrap.min.js"></script>


        <!--NiftyJS [ RECOMMENDED ]-->
        <script src="/assets/javascripts/nifty.min.js"></script>

        <!--=================================================-->

        <!--Demo script [ DEMONSTRATION ]-->
        <script src="/assets/javascripts/nifty-demo.min.js"></script>


  </body>
</html>
